elasticsearchHosts: "https://elasticsearch-master:9200"
replicas: 1
image: docker.elastic.co/kibana/kibana
imageTag: "8.5.1"
resources:
  requests:
    cpu: "1000m"
    memory: "2Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"
service:
  type: LoadBalancer
  port: 5601